<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% include meta.html %}

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar">
            {% if site.avatar %}
            <img src="{{ site.avatar }}" alt="{{ site.name }}" />
            {% endif %}
          </a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/mission">Mission</a>
            <a href="{{ site.baseurl }}/vision">Vision</a>
            <a href="{{ site.baseurl }}/services">Services</a>
            <a href="{{ site.baseurl }}/programs">Programs</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
          <p>&copy; {{ 'now' | date: "%Y" }} {{ site.name }}. All rights reserved.</p>
          <p>Washington State, USA</p>
          <p><a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a></p>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
